[(load-file "resources/test_changelog/test_changelog_entries/changelog_v099.edn")
 (load-file "resources/test_changelog/test_changelog_entries/changelog_v100.edn")
 (load-file "resources/test_changelog/test_changelog_entries/changelog_v101.edn")]
