{:changelog-html-directory "doc/"
 :changelog-html-filename "changelog.html"

 :changelog-markdown-directory ""
 :changelog-markdown-filename "changelog.md"

 :changelog-entries-directory "resources/changelog_entries/"
 :changelog-data-file "changelog.edn"

 :changelog-policies-section [:a {:href "https://github.com/blosavio/chlog"} "changelog info"]}